// src/assets/styles/fullcalendar-overrides.scss

// Импортируйте ваши переменные
@import 'variables.scss';

:root {
    --fc-bg-event-color: #{$calendiary-secondary}; 
    --fc-bg-event-opacity: 0.35; 
}

// Переопределяем стили для текста фоновых событий
.fc-bg-event .fc-event-title {
    color: $calendiary-text-dark !important; 
    font-weight: 400 !important;                         
    font-size: 0.95em !important;                          
    font-style: italic !important; 
    line-height: 1.3 !important; 
    padding: 2px 4px !important;
}